<%= render 'shared/header' %>

<%= form_with model: @user, url: user_registration_path, method: :post, class: 'registration-main', local: true do |form| %>
<div class='form-wrap'>
  <div class='form-header'>
    <h1 class='form-header-text'>
      会員登録をして、イラストを投稿しよう！
    </h1>
  </div>
  <%= render 'shared/error_messages', model: form.object %>
  <%# 登録フォーム%>
  <div class='form-group'>
    <div class='form-text-wrap'>
      <label class='form-text'>ニックネーム</label>
      <span class='indispensable'>※必須項目</span>
    </div>
    <%= form.text_field :nickname, class: 'input-default', placeholder: 'ユーザーネームを入力。上限20文字', maxlength: '40' %>
  </div>
  <div class='form-group'>
    <div class='form-text-wrap'>
      <label class='form-text'>メールアドレス</label>
      <span class='indispensable'>※必須項目</span>
    </div>
    <%= form.text_field :email, class: 'input-default', placeholder: '連絡先emailアドレスを入力。', size: '40' %>
  </div>
  <div class='form-group'>
    <div class='form-text-wrap'>
      <label class='form-text'>パスワード</label>
      <span class='indispensable'>※必須項目</span>
    </div>
    <%= form.password_field :password, class: 'input-default', placeholder: '半角英数字混合のみ、使用可', size: '40' %>
  </div>
  <div class='form-group'>
    <div class='form-text-wrap'>
      <label class='form-text'>パスワード(確認用)</label>
      <span class='indispensable'>※必須項目</span>
    </div>
    <%= form.password_field :password_confirmation, class: 'input-default', placeholder: '再度パスワード入力', size: '40' %>
  </div>
  <div class='form-group'>
    <div class='form-text-wrap'>
      <label class='form-text'>性別</label>
      <span class='indispensable'>※必須項目</span>
      <div class='sex-radio-btn'>
        <%= form.radio_button :sexuality, '男'%>男
        <%= form.radio_button :sexuality, '女'%>女
        <%= form.radio_button :sexuality, 'その他'%>その他
      </div>
    </div>
  </div>
  <div class='form-group'>
    <div class='form-text-wrap'>
      <label class='form-text'>生年月日</label>
      <span class='indispensable'>※必須項目</span>
    </div>
    <div class='input-birth-wrap'>
      <%= raw sprintf(
        form.date_select(
          :birth_day,
                    class:'select-birth',
                    id:"birth-date",
                    use_month_numbers: true,
                    prompt:'--',
                    start_year: 1930,
                    end_year: (Time.now.year - 5),
                    date_separator: '%s'),
                  "<span> 年 </span>", "<span> 月 </span>") + "<span> 日 </span>" %>
    </div>
  </div>
  <div class='form-group'>
    <div class='register-btn'>
      <%= form.submit '会員登録', class: 'register-red-btn' %>
    </div>
  </div>
</div>
<% end %>
  <%# 登録フォーム%>

  <%= render 'shared/footer' %>