<%= render 'shared/header' %>

<div class='top-page-contents'>
  <div class='top-page-wrap'>
    <ul class='user-list-show' id='pull-down-lists'>
        <li><%= link_to '新規投稿', '#', class: 'new-illustration' %></li>
        <li><%= link_to 'マイページ', '#', class: 'my-plofile' %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'log-out' %></li>
    </ul>
    <div class='top-page-text'>
      <h2>
        みんなの新着投稿イラスト
      </h2>
      <h2>
        <%= link_to 'もっと閲覧', '#'%>
      </h2>
    </div>
    <ul class='art-lists'>
      <li class='list'>
        <%= image_tag 'pict_logo.jpg', class: 'art-image' %>
      </li>
    </ul>
  </div>
</div>
<%= render 'shared/footer' %>
